@page "/lobby"

<div class="row">
    <div class="Lobby-card">
        <div class="col-md-5 card">
            <div class="lobby-players">
                <h2>Список игроков</h2>
                <table>
                    <tr>
                        <td>Имя игрока</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6 card">
            <h2>Информация о лобби</h2>
            <p>Название лобби</p>
            <p>Количество игроков</p>
            <p>Ваша камера</p>
            <p>Камера</p>
            <button type="button" class="btn btn-success">Start</button>
        </div>
    </div>
</div>
@code {
    
}
